h1,
p {
  font-family: Lato;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 19vh;
  background-color: cadetblue;
}

.list-items {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
